body {
  color: white;
  font-family: Arial;
  font-size: 24px;
}

h1 {
  background-color: coral;
  margin: 0;
  padding: 24px;
}

section {
  padding: 100px;
}

.two-columns {
  background: slategray;
  display: flex;
}
.two-columns .color{
  width:50%;
}
.three-columns {
  background: lightgray;
  display: flex;  
}

.three-columns .color{
  width:33.3333%;
}

.two-columns-squished {
  background: slategray;
  display: flex;
}

.two-columns-squished .color{
  width:40%;
}

.two-columns-space-between {
  background: lightgray;
  display: flex;
  justify-content:space-between;
}

.two-columns-space-between  .color{
  
  width:40%;

}

.two-columns-space-around {
  background: slategray;
  justify-content:space-around;
  display: flex;
}

.two-columns-space-around .color{
  
  width:30%;

}

.two-columns-reversed {
  background: lightgray;
  justify-content:space-around;
  display: flex;
}

.two-columns-reversed .color{
  
  width:50%;
}

.two-columns-vertical {
  background: slategray;
  display: flex; 
  flex-wrap: wrap; 
}

.two-columns-vertical-reversed {
  background: lightgray;
  display: flex;  
}

.two-columns-against-the-bottom { /* This rhymes, hehehe */
  background: slategray;
  height: 600px;
  display: flex;  
  align-items:flex-end;
}

.two-columns-against-the-bottom .color{
  

}

.two-columns-multiline {
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
}
.top-left{
  background-color: red;
}
.top-right{
  background: blue;
}
.bottom-right{
  background: yellow;
}
.bottom-left{
  background: green;
}
.two-columns-multiline .color{
  width:50%;

}
.top-left, .top-right, .bottom-left, .bottom-right{
  width:50%;

}

.color {
  height: 200px;
}

.red {
  background: firebrick;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.blue {
  background: navy;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.orange {
  background: orange;
}

.yellow {
  background: gold;
}

.green {
  background: forestgreen;
}

.papayawhip {
  background: papayawhip;
  color: midnightblue;
}

.cornflowerblue {
  background: cornflowerblue;
}

.lime {
  background: lime;
}

.fuchsia {
  background: fuchsia;
}

.coral {
  background: coral;
}

.skyblue {
  background: skyblue;
}

.gray-one {
  color: black;
  background: #fff;
  width: 50%;

}

.gray-two {
  color: black;
  background: #eee;
  width: 50%;
}

.gray-three {
  color: black;
  background: #ddd;
  width: 50%;
}

.gray-four {
  color: black;
  background: #ccc;
  width: 50%;
}

.gray-five {
  color: black;
  background: #bbb;
  width: 50%;
}

.gray-six {
  color: black;
  background: #aaa;
  width: 50%;
}
