body {
  
  color:#555;
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
  padding:0 300px;
}

code{
	  background: #ccc none repeat scroll 0 0;
	  padding:0 12px;
}
nav ul li{
	display: inline;
	background-color: red;
	margin-right: 30px;
	padding:10px ;

}
nav ul {
	padding: 0;
	text-align: center;

}


h2, h1 {
  background-color: lightgrey;
  color: red;
  margin: auto;
  max-width: 400px;
  padding: 12px 0 12px 6px;
}

h2{color:#000;}

ul li, ol li{
	background-color: beige;
	margin-bottom: 12px
}

ul li{
	font-family:"comic sans MS", sans-serif;
}

ol li{
	font-size:24px;
}

a{
	text-decoration: none;
	color:red;
}
.announcement{
	background:red;
	margin:96px 0;
	padding:24px 48px;
}
.announcement code{
	background-color: white;
	color:#000;
}
.announcement a{
	background-color: white;
	color:#000;
}

li {
  
}