
html { background: #ccc;}

h1, h2, p {color: #555;}

h1{background: indianred;color:white;text-transform:uppercase;}

p{line-height: 25px}

body {
  background-image: url("./images/climpek.png");
  font-family: arial,helvetica,sans-serif;
  margin: 0;
}


ul {
  list-style: outside none none;
  padding: 0;
  width:100%;
  display:table;
  margin:0;
}

ul li { 
  display: table-cell;
  text-align: center;
  width:50%;
}

ul li a {
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

section{
  box-sizing: border-box;
  max-width: 900px;
  background-color: lightsalmon;
  margin:0 auto;
  overflow: auto;

}
.main-sec {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
  box-sizing: border-box;
  clear: both;
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
  padding: 25px 0;
}

.main-sec p{
  padding: 20px
}

.abt-img {
  width: 30%;
  float: left;
}

.projects > li {
  display: block;
  margin: 20px 0;
  width: 100%;
}
.portfolio {
  margin: auto;
  max-width: 400px;
}
.projects img {
  width: 100%;
}

.abt-img img {
  border-radius: 40px;
  max-width: 80px;
  margin: auto;
  float: none;
  display: block;
}
@media screen and (max-width: 700px){



.abt-img {
  width: 100%;
  float: none;
}
.abt-txt{
	clear:both;

}


}


@media screen and (max-width: 500px){

ul li{
  width:100%;
  display: block;
}

}

