
html { background: #ccc;}

h1,h2, p{color:white;}

body{
font-family:arial,helvetica, sans-serif;

}


ul {
  list-style: outside none none;
  padding: 0;
  width:100%;
  display:table;
}

ul li {
  
  
  display: table-cell;
  
  text-align: center;
}

ul li  a {
  text-decoration: none;
  background: #ccc none repeat scroll 0 0;
  border-radius: 20px;
  padding: 10px;
  color: #555;
}

.main-sec {
  clear: both;
  margin: auto;
  max-width: 700px;
  background: #555;
  padding: 25px;
  min-height: 200px;
}

.abt-img {
  width: 30%;
  float: left;
}

.projects > li {
  display: block;
  margin: 20px 0;
}

.projects img {
  max-width: 400px;
  width: 100%;
}

.abt-img img {
  border-radius: 40px;
  max-width: 80px;
  margin: auto;
  float: none;
  display: block;
}
@media screen and (max-width: 700px){

.abt-img {
  width: 100%;
  float: none;
}
.abt-txt{
	clear:both;

}
}